/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body{
  font-family: Microsoft JhengHei,sans-serif;
}
.wrap {
  
  width: 1024px;
  height: auto;
  margin: 0 auto;
}

.banner {
  background: url(../img/Hero.png) center no-repeat;
  height: 380px;
}

.textCenter {
  
  color: #ffffff;
  text-align: center;
  line-height: 190px;
  font-size: 40px;
  letter-spacing: 3.89px;
  height: 225px;
}

.select {
 font-family: Microsoft JhengHei;
  margin-left: 293px; 
  margin-bottom: 79px;
  font-size: 36px;
  width: 452px;
  height: 48px;
  background: rgba(255, 255, 255, 0.70);
  border: 3px solid #ffffff;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


 option {
  text-align: left;
}

.popular {
  margin: 0 auto;
  
  width: 800px;
  height: 112px;
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.20);
  border-radius: 5px;
}

.popular h2 {
  
  padding: 20px;
  color: black;
}
.border{
  
  margin: 0 auto;
  width: 900px;
  height: 0px;
  margin-top:133px;
  border: 1px dashed #559AC8;
   
  
}
.icon{
 
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  float: left;
  margin-left: 439px;
  margin-top:-12px;
  border-radius:  50%;
  color: #559AC8;
}
.countryName{
  margin: 0 auto;
  margin-top: 76px;
  text-align: center;
  font-family: SFNSDisplay;
font-size: 36px;
color: #8A82CC;
}
.list{
  margin: 0 auto;
  margin-top:24px;
  overflow: auto;
  width: 960px;
  
  
}
.countrybox{
  overflow: hidden;
  position: relative;
  float: left;
  width: 464px;
  height: 273px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
  margin:18px 8px;

}

.picture{
    width: 464px;
    height: 155px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.countryInfo{
  padding: 10px;
  position: absolute;
  bottom:0;
  left: 0;
  z-index: 2;
  margin-top: -118px;
  background: white;
  width: 464px;
  height: auto;
   -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
 p{
  
  font-size: 16px;
  color: #000000;
  padding-bottom: 15px;
  
}
.iconSet{
  padding-right: 10px;
  
}
 .right{
  position: absolute;
  right: 19px;
  top:80px;
  display: inline-block;
}
.btnfonts{
  font-size: 20px;
 color: #FFFFFF;
}

input[type=button]:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
input[type=button]{
  border-radius: 5px;
  border: 0px;
  width: 130px;
  height: 42px;
  margin-left: 50px;
}
.purplebtn{
  background: #8A82CC;
  
}
.beigebtn{
  background: #FFA782;
  
}
.yellowbtn{
  background: #F5D105;
  
}
.primarybtn{
  background: #559AC8;
 
}
.footer{
  width: auto;
  height: 90px;
  background: #559AC8;
  margin-top: 107px;
  text-align: center;
  line-height: 45px;
  color: white;
}